.btn{
    margin: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    text-shadow:4px 3px 4px #ef85d8;
    box-shadow: #10eb14 0px 2px 10px 0px,
    #10bceb 0px 2px 15px 0px;
}
.cast{
    text-decoration: none;
    color: rgb(99, 7, 7);
    margin-right: 15px;
    font-weight: 700;
    font-style: italic;
}
.rev{
    text-decoration: none;
    color: rgb(45, 29, 189);
    margin-right: 15px;
    font-weight: 700;
    font-style: italic;
}
.movie{
    box-shadow: #797b79 0px 2px 10px 0px,
    #10bceb 0px 2px 15px 0px;
}
.add{
    box-shadow: #6a6c6a 0px 2px 10px 0px,
    #10bceb 0px 2px 15px 0px;
}
.home{
    box-shadow: #797b79 0px 2px 10px 0px,
    #10bceb 0px 2px 15px 0px;
}
